<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EL.Admin</title>
    <link href="/css/index.css?v=1.0" rel="stylesheet" />
    <link href="/css/layout.css?v=1.1" rel="stylesheet" />
    <link href="/css/layui-icon.css?v=1.1" rel="stylesheet" />
</head>
<body v-clock>
    @RenderBody()
    <script src="/js/jquery-3.0.0.min.js"></script>
    <script src="/js/vue.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/gobal.js"></script>
    <script src="/js/ajax.js"></script>
    <script src="/js/sal-expands.js"></script>
    <script src="/js/layout.js"></script>
    <script src="/js/sal-chain.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
