@{
    ViewData["Title"] = "LogDetails";
}
@section css {
    <style type="text/css">
        p {
            color: red;
        }
    </style>
}
<div id="logDetails" v-clock>
    <template>
        <section style="margin-left:20px;">
            <h4>创建时间：{{createTime}}</h4>
            <h3>Message：</h3>
            <p>{{message}}</p>
            <el-divider></el-divider>
            <h3>Exception：</h3>
            <p>{{exception}}</p>
            <el-divider></el-divider>
            <h3>StackTrace：</h3>
            <p>{{stackTrace}}</p>
        </section>
    </template>
</div>
@section script {
    <script>
        new Vue({
            el: '#logDetails',
            data: {
                id: null,
                createTime: null,
                message: null,
                exception: null,
                stackTrace: null
            },
            methods: {
                details: function () {
                    var self = this;
                    $.get('/Log/GetLog?id=' + self.id, function (res) {
                        self.createTime = resp.createTime;
                        self.message = resp.message;
                        self.exception = resp.exception;
                        self.stackTrace = resp.stackTrace;
                    });
                }
            },
            created: function () {
                this.id = parent.api.getTabParams('logDetailsTab').logId;
                this.details();
            },
        });
    </script>
}
